/**
* Basic styles
* www.ar1web.com
*/

/* locker text */
.onp-sociallocker .onp-sociallocker-strong,
.onp-sociallocker .onp-sociallocker-message, 
.onp-sociallocker .onp-sociallocker-timer,
.onp-sociallocker .onp-sociallocker-error-title,
.onp-sociallocker-error-text {
    font: normal normal 400 13px/23px "Arial", "Helvetica", sans-serif;;
    color: #111;
}

.onp-sociallocker iframe {
   margin: 0px !important;
}

/* locker containers */
.onp-sociallocker, 
.onp-sociallocker .onp-sociallocker-outer-wrap, 
.onp-sociallocker .onp-sociallocker-inner-wrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Error that is rised when the locker is setup incorrect. */
.onp-sociallocker-error {
    display: block !important;
    padding: 20px !important;
    font: normal normal 400 12px/18px "PT Sans", sans-serif !important;
    background-color: #ffebe8 !important;
    border: 1px solid #dd3c10 !important;
    text-align: left !important;
    -webkit-text-shadow: none !important;
    -moz-text-shadow: none !important;
    text-shadow: none !important;
    margin: 20px 0 !important;
    color: #000 !important;
}

.onp-sociallocker {
    position: relative !important;
    background-color: #f9f9f9;
    padding: 25px;
    margin: 20px auto;
    max-width: 650px;
}
.onp-sociallocker p {
    margin: 0px;
}

/**
* Locker Messages
*/

.onp-sociallocker .onp-sociallocker-text {
    text-align: center;
}
.onp-sociallocker-text .onp-sociallocker-strong {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

/**
* Locker Errors
*/

.onp-sociallocker-state-error .onp-social-button {
    display: none;
}
.onp-sociallocker .onp-sociallocker-error-body {
    text-align: center;
}
.onp-sociallocker .onp-sociallocker-error-title, 
.onp-sociallocker .onp-sociallocker-error-text {
    text-shadow: none;
}
.onp-sociallocker .onp-sociallocker-error-title {
    text-align: center;
    display: inline-block;
    background-color: #cc0000;
    font-size: 14px;
    line-height: 100%;
    padding: 4px 10px;
    color: #fff;
    vertical-align: top;
}
.onp-sociallocker .onp-sociallocker-error-title:hover {
    background-color: #ee0000;
}
.onp-sociallocker .onp-sociallocker-error-text {
    background: #c00;
    color: #fff;
    padding: 10px;
    margin-top: 15px;
}
.onp-sociallocker .onp-sociallocker-error-body .onp-sociallocker-error-text {
    display: none;
}

/**
* Locker Buttons
*/

.onp-sociallocker-buttons {
    text-align: center;
}
.onp-sociallocker-text + .onp-sociallocker-buttons {
    margin-top: 5px;
}
.onp-sociallocker-button-inner-wrap {
    height: 40px;
    min-width: 120px;
    padding: 10px;
    
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;  
    box-sizing: border-box;
}
.onp-sociallocker-state-loading .onp-sociallocker-button-inner-wrap { 
    background: url('https://ar1web-com.googlecode.com/svn/Hm/button-loader-f2f2f2.gif') 50% 50% no-repeat;
}

.onp-social-button {
    min-width: 104px;
}
/* facebook buttons, google buttons and tweet button always has the fixed size */
.onp-facebook-button, 
.onp-google-button, 
.onp-twitter-tweet {
    width: 120px;
}
.onp-sociallocker-button-overlay {
    width: 100%;
    border-bottom: none;
}

.onp-sociallocker-button-inner-wrap {
    position: relative;
}
.onp-sociallocker-button {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.onp-sociallocker.onp-sociallocker-no-counters .onp-sociallocker-button {
    text-align: center;
}
.onp-sociallocker-button-overlay {
    position: absolute;
    top: 0px; left: 0px;
}
.onp-sociallocker-button {
    margin: 10px 5px 0 5px;
    background-color: #f2f2f2;
}
.onp-social-button {
    overflow: hidden;
    padding: 1px;
    position: relative;
    top: -1px;
}

.onp-sociallocker-opera .fb-like {
    position: relative;
    top: -2px;
}
.onp-sociallocker-button-facebook-like .fb-like span {
    vertical-align: top !important;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

/* facebook share button */

.onp-facebook-share {
    display: inline-block;
    height: 18px;
    vertical-align: top;
    position: relative;
    top: 1px;
}
.onp-facebook-share .onp-facebook-share-icon {
    width: 64px;
    height: 18px;
    position: absolute;
    cursor: pointer;
    left: 0px;
    background: url('https://ar1web-com.googlecode.com/svn/Hm/facebook-share.png') top left no-repeat; 
}
.onp-facebook-share .onp-facebook-share-count {
    height: 16px;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    margin-left: 62px;
    font-size: 11px;
    line-height: 15px;
    padding: 0 4px 0 5px;
}
.onp-facebook-share-count-none .onp-facebook-share-icon {
    width: 57px;
    position: relative;
    display: block;
    background: url('https://ar1web-com.googlecode.com/svn/Hm/facebook-share-no-counter.png') top left no-repeat; 
}
.onp-facebook-share-count-none .onp-facebook-share-count{
    display: none;   
}

/* remove the popup comment box */
.onp-sociallocker-button .fb-like span,
.onp-sociallocker-button .fb-like iframe {
    height: 22px;
}
.onp-sociallocker-button .fb-like span {
    overflow: hidden;
    padding: 0 1px;
}
.onp-sociallocker-button-unsupported {
    font-size: 10px;
    text-align: center;
    line-height: 13px;
}
/**
* Overlay for buttons
*/

.onp-sociallocker-button-overlay * {
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
}
.onp-sociallocker-overlay-front,
.onp-sociallocker-overlay-back {
    height: 100%;
    top: 0px;
    left: 0px;
    -moz-box-sizing: content-box;  
    box-sizing: content-box;
}

/**
* Helper tools (timer, close icon)
*/

.onp-sociallocker .onp-sociallocker-cross {
    background: url('https://ar1web-com.googlecode.com/svn/Hm/close.png') 50% 50% no-repeat;
    width: 16px;
    height: 16px;
    opacity: 0.1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=10);
    cursor: pointer;
    position: absolute;
    top: 4px;
    right: 4px;
    z-index: 2;
}
.onp-sociallocker:hover .onp-sociallocker-cross {
    opacity: 0.2;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
}
.onp-sociallocker .onp-sociallocker-cross:hover {
    opacity: 0.8;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.onp-sociallocker .onp-sociallocker-timer {
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 10;
}
.onp-sociallocker .onp-sociallocker-timer,
.onp-sociallocker .onp-sociallocker-timer * {
    font: normal normal 400 12px/12px sans-serif;
    text-transform: lowercase;
}
.onp-sociallocker .onp-sociallocker-timer {
    color: #000;
    margin-left: 5px;
}
.onp-sociallocker .onp-sociallocker-timer-counter {
    font-weight: bold;
}
.onp-google-button {
    position: relative;
}

/**
* Base styles of the flip effect
*/
.onp-sociallocker-flip .onp-sociallocker-button-inner-wrap
{
    perspective: 500px;
    perspective-origin: 50% 0;
    -webkit-perspective: 500px;
    -webkit-perspective-origin: 50% 0;
    -moz-perspective: 500px;
    -moz-perspective-origin: 50% 0;
}
.onp-sociallocker-flip .onp-sociallocker-button-overlay {
    display: block;

    transform-origin: bottom;
    transform-style: preserve-3d;		
    transition: transform .3s ease;
    transform: translate(0);

    -webkit-transform-origin: bottom;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .3s ease;
    -webkit-transform: translateY(0) rotateX(0);

    -moz-transform-origin: bottom;
    -moz-transform-style: preserve-3d;		
    -moz-transition: -moz-transform .3s ease;
    -moz-transform: translate(0);
    
    text-decoration: none !important;
}
.onp-sociallocker-flip .onp-sociallocker-overlay-back 
{
    transform: rotateX(-180deg) translateZ(4px);
    -webkit-transform: rotateX(-180deg) translateZ(4px);
    -moz-transform: rotateX(-180deg) translateZ(4px);
}
.onp-sociallocker-flip .onp-sociallocker-overlay-header {
    height: 4px;
    
    transform-origin: top;
    transform: rotateX(-90deg);
    -webkit-transform-origin: top;
    -webkit-transform: rotateX(-90deg);
    -moz-transform-origin: top;
    -moz-transform: rotateX(-90deg);
}
.onp-sociallocker-touch .onp-sociallocker-button-overlay {
    cursor: pointer;
}
.onp-sociallocker-no-touch .onp-sociallocker-flip:hover .onp-sociallocker-button-overlay,
.onp-sociallocker-flip-hover .onp-sociallocker-button-overlay
{
     display: block !important;
    transform: translateY(4px) rotateX(-105deg);
    -webkit-transform: translateY(4px) rotateX(-105deg);
    -moz-transform: translateY(4px) rotateX(-105deg);
}
.onp-sociallocker-flip:hover .onp-sociallocker-overlay-back {
    border-top: 2px solid #eee;
}
.onp-sociallocker .onp-sociallocker-state-error.onp-sociallocker-button .onp-sociallocker-overlay-text {
    text-decoration: line-through;
    color: #fff;
    text-shadow: none;
}

/**
* Flat style
*/
.onp-sociallocker-flat .fb-like span,
.onp-sociallocker-flat .fb-like iframe {
    width: 118px !important;
}
.onp-sociallocker-flat {
    padding: 0px;
    background-color: transparent;
}
.onp-sociallocker-flat .onp-sociallocker-inner-wrap {
    background-color: #f9f9f9;
    padding: 30px;
}
.onp-sociallocker-flat .onp-sociallocker-outer-wrap {
    border: 1px solid #ddd;
    border-bottom: 4px solid #ddd;
}
.onp-sociallocker-flat .onp-sociallocker-inner-wrap,
.onp-sociallocker-flat .onp-sociallocker-outer-wrap {
    border-radius: 5px;
}
.onp-sociallocker-flat .onp-sociallocker-text .onp-sociallocker-strong:before,
.onp-sociallocker-flat .onp-sociallocker-text .onp-sociallocker-strong:after 
{
    content: '';
    display: inline-block;
    width: 11px;
    height: 14px;
    margin: 0 9px;
    background: url('https://ar1web-com.googlecode.com/svn/Hm/lock-icon.png') 0px 2px no-repeat;
}
@media screen and (max-width: 500px) 
{
    .onp-sociallocker-flat .onp-sociallocker-text .onp-sociallocker-strong:before,
    .onp-sociallocker-flat .onp-sociallocker-text .onp-sociallocker-strong:after 
    {
        display: none;
    }
}
.onp-sociallocker-flat .onp-sociallocker-text .onp-sociallocker-strong:after {
    margin-left: 10px;
}
.onp-sociallocker-flat .onp-sociallocker-button {
    background: rgba(0, 0, 0, 0.03);
}
.onp-sociallocker-flat .onp-sociallocker-button-inner-wrap {
    padding: 7px 10px 10px 10px;
}
.onp-sociallocker-flat .onp-sociallocker-button-inner-wrap, 
.onp-sociallocker-flat .onp-sociallocker-button-overlay {
    height: 34px;
    min-width: 118px;
}
.onp-sociallocker-flat .onp-sociallocker-button .onp-sociallocker-overlay-front {
    background: #eaeaea;
    border-bottom: 3px solid #dadada;
}
.onp-sociallocker-flat .onp-sociallocker-button .onp-sociallocker-overlay-front,
.onp-sociallocker-flat .onp-sociallocker-button .onp-sociallocker-overlay-back {
    border-radius: 3px;
}

.onp-sociallocker-flat .onp-sociallocker-button .onp-sociallocker-overlay-icon {
    height: 34px;
    width: 44px;
    background-image: url('https://ar1web-com.googlecode.com/svn/Hm/social-icons.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    position: absolute;
}
.onp-sociallocker-flat .onp-sociallocker-button .onp-sociallocker-overlay-text {
    font-size: 14px;
    line-height: 34px;
    color: #fff;
    text-align: center;
    position: static;
    padding-left: 42px;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.15);
}

.onp-sociallocker-flat .onp-sociallocker-button-twitter .onp-sociallocker-overlay-front {
    background: #4086cc;
    border-bottom-color: #13579e;
}
.onp-sociallocker-flat .onp-sociallocker-button-twitter .onp-sociallocker-overlay-icon {
    background-position: -132px 8px;
}
.onp-sociallocker-flat .onp-sociallocker-button-twitter .onp-sociallocker-overlay-back {
    background: #4086cc;
}
.onp-sociallocker-flat .onp-sociallocker-button-twitter .onp-sociallocker-overlay-header {
    background: #13579e;
}
.onp-sociallocker-flat .onp-sociallocker-button-facebook .onp-sociallocker-overlay-front {
    background: #3c5a9a;
    border-bottom-color: #082b6f;
}
.onp-sociallocker-flat .onp-sociallocker-button-facebook .onp-sociallocker-overlay-icon {
    background-position: 15px 9px;
}
.onp-sociallocker-flat .onp-sociallocker-button-facebook .onp-sociallocker-overlay-back {
    background: #3c5a9a;
}
.onp-sociallocker-flat .onp-sociallocker-button-facebook .onp-sociallocker-overlay-header {
    background: #082b6f;
}

.onp-sociallocker-flat .onp-sociallocker-button-google .onp-sociallocker-overlay-front {
    background: #ca4639;
    border-bottom-color: #a52316;
}
.onp-sociallocker-flat .onp-sociallocker-button-google .onp-sociallocker-overlay-icon {
    background-position: -18px 9px;
}
.onp-sociallocker-flat .onp-sociallocker-button-google .onp-sociallocker-overlay-back {
    background: #ca4639;
}
.onp-sociallocker-flat .onp-sociallocker-button-google .onp-sociallocker-overlay-header {
    background: #a52316;
}

.onp-sociallocker-flat .onp-sociallocker-button-linkedin .onp-sociallocker-overlay-front {
    background-color: #286b8d;
    border-bottom-color: #4a6887;
}
.onp-sociallocker-flat .onp-sociallocker-button-linkedin .onp-sociallocker-overlay-icon {
    background-position: -58px 7px;
}
.onp-sociallocker-flat .onp-sociallocker-button-linkedin .onp-sociallocker-overlay-back {
    background: #286b8d; 
}
.onp-sociallocker-flat .onp-sociallocker-button-linkedin .onp-sociallocker-overlay-header {
    background-color: #19465d;
}
.onp-sociallocker-flat .onp-sociallocker-cross {
    top: 8px;
    right: 8px;
}
.onp-sociallocker-flat .onp-sociallocker-timer {
    right: 10px;
    bottom: 8px;
    color: #777;
}

/**
* Like Button Widget styles
*/

.onp-sociallocker-horizontal.onp-sociallocker-has-counters .onp-facebook-like-es_ES,
.onp-sociallocker-horizontal.onp-sociallocker-has-counters .onp-facebook-share-es_ES {
    width: 114px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-has-counters .onp-facebook-like-ru_RU,
.onp-sociallocker-horizontal.onp-sociallocker-has-counters .onp-facebook-share-ru_RU {
    width: 124px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-has-counters .onp-facebook-like-pl_PL,
.onp-sociallocker-horizontal.onp-sociallocker-has-counters .onp-facebook-share-pl_PL {
    width: 120px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-has-counters .onp-facebook-like-de_DE,
.onp-sociallocker-horizontal.onp-sociallocker-has-counters .onp-facebook-share-de_DE {
    width: 120px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-has-counters .onp-facebook-share-pt_BR {
    width: 130px !important;
}

/* See #SLJQ-14 */
.onp-sociallocker .onp-facebook-like-count-none .fb_iframe_widget {
    display: inline-block !important;
}
.onp-sociallocker .onp-facebook-like-count-none .fb-like {
    overflow: hidden;
    width: 50px !important;
}

.onp-sociallocker-horizontal.onp-sociallocker-no-counters .fb-share-button {
    overflow: hidden;
    width: 60px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-like-es_ES .fb-like {
    width: 78px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-share-es_ES .fb-share-button {
    width: 81px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-like-pt_PT .fb-like {
    width: 59px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-share-pt_PT .fb-share-button {
    width: 71px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-like-fr_FR .fb-like {
    width: 63px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-share-fr_FR .fb-share-button {
    width: 73px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-like-ru_RU .fb-like {
    width: 81px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-share-ru_RU .fb-share-button {
    width: 91px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-like-fi_FI .fb-like {
    width: 68px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-share-fi_FI .fb-share-button {
    width: 43px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-like-pl_PL .fb-like {
    width: 77px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-share-pl_PL .fb-share-button {
    width: 87px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-like-de_DE .fb-like {
    width: 85px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-like-pt_BR .fb-like {
    width: 59px !important;
}
.onp-sociallocker-horizontal.onp-sociallocker-no-counters .onp-facebook-share-pt_BR .fb-share-button {
    width: 98px !important;
}